@import '_reset.css';
@import '_fonts.css';

.App {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: 18px auto 0;
    width: 320px;
}

.nav li a {
    background: gray;
    border-radius: 3px;
    padding: 6px 12px;
}

.nav li a:hover { opacity: .85; }

.nav .view { background: #4682b4; }
.nav .new { background: #8bbd64; } 
.nav .reset { background: #d63d0a; } 
